<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> Star
</button>
<div class="date">
  <p><i class="fa fa-camera-retro fa-5x"></i> fa-camera-retro</p>
  <h1><%= Date.today.strftime("%A, %B %d, %Y") %></h1>
</div>
<div class="time-slots-container">
  <% @time_slot = 0000 %>
  <% (1..48).each do |slot_num| %>
    <div class="time-slot">
      <p><%= Chronic.parse("#{@time_slot} minutes after 12AM").strftime('%l:%M %p') %></p>
      <% @time_slot += 30 %>
    </div>
  <% end %>
</div>